<h1><%= t('Gallery') %></h1>

 <div>
<ul class="row" id="lightGallery">
  <li class="col-sm-4" data-src="/img/background.jpg">
    <img class="gallery-thumb" src="/img/background.jpg" />
  </li>
  <li class="col-sm-4" data-src="/img/background.jpg">
    <img class="gallery-thumb" src="/img/background.jpg" />
  </li>
</ul>
</div>
