/*PRE*/
//
// mixin for bullet proof font declaration syntax
//
@mixin declare-font-face($font-family, $font-filename, $font-weight : normal, $font-style :normal, $font-stretch : normal) {
@font-face {
font-family: '#{$font-family}';
src: url(font-path('#{$font-filename}.eot'));
src: url(font-path('#{$font-filename}.eot?#iefix')) format('embedded-opentype'),
url(font-path('#{$font-filename}.woff')) format('woff'),
url(font-path('#{$font-filename}.ttf')) format('truetype'),
url(font-path('#{$font-filename}.svg##{$font-family}')) format('svg');
font-weight: $font-weight;
font-style: $font-style;
font-stretch: $font-stretch;
}
}

@include declare-font-face('OpenSans-CondLight', 'OpenSans-CondLight-webfont', 200);
@include declare-font-face('OpenSans-CondBold', 'OpenSans-CondBold-webfont', 200);
@include declare-font-face('OpenSans-CondLightItalic', 'OpenSans-CondLightItalic-webfont', 200);

::-webkit-scrollbar { 
    display: none; 
}
/*PRE-END*/

body{
	font-family: "OpenSans-CondLight";
	background-color:#444;
	background-image: url("/img/pattern-transparent.png");
    background-repeat: repeat;
}

#page-name{
	margin-left: 20px;
}

/*NAVBAR*/
#full-navbar{
font-family: "OpenSans-CondBold";
background-color: rgba(0,0,0,0.8);
border-bottom:3px solid #937F4A;

	.navbar-brand{
	background-image: url("/img/logo30px.png");
   -moz-background-size: cover;
   -webkit-background-size: cover;
   background-size: cover;
   margin-left:5px;
   margin-top: 10px;
   height: 30px;
   width:175px;
	}

	.navbar-collapse{
		border-top:none;
	
	}

	.navbar-toggle{
		background-image: url("/img/bb30px.png");
		-moz-background-size: cover;
        -webkit-background-size: cover;
   		background-size: cover;
		border:none;
		height:30px;
		width:43px;


		&:hover {
			background-color:rgba(255,255,255,0.0);
		}

		&:focus {
			background-color:rgba(255,255,255,0.0);

		}

		.icon-bar{
			background-color:#937F4A;
		}
	}

	.dropdown-menu{
		background-color: rgba(0,0,0,0.7);
	
		
	}

	ul li {
		a {
			color:#937F4A;
			text-decoration: none;
			transition:1s;
			font-size: 1.2em;

			&:hover {
				cursor: pointer;
				color:#e5c100;
			}
			&:focus{
				background-color: transparent;
				color:#e5c100;
			}
		}
	}
}

/*CONTENT*/
#tartalom-wrapper{
	padding: 60px 0 10px 0;
	min-height:100vh;
	
	#myCarousel{

	}

	#tartalom{
	background-color: rgba(58,58,58,0.0);
	min-height:50vh;

		h1{
			text-shadow: 1px 1px 5px #888888;
			color:#937F4A;
		}

		#welcome{
			text-align:center;
			margin-top:25px;
			padding:10px;
			background-color: rgba(0,0,0,0);

			p{
			color:#444;
			font-size: 1.6em;
			}
		}
	}
}

/*ABOUT*/
#about-pill{ 
	border-bottom:none;
	
	.active{
		a{	
			color:transparent;
			&:hover{
				color:transparent;
			}
		}
				
			}

	li{
		
		a{
			font-size: 1.8em;
			color:#937F4A;
			border:none;
			background-color: transparent;
			transition:1s;

			&:hover{
				color:#E5C100;
			}
		}
	}

}

#about-pres{
	padding:10px;
	min-height:400px;
	background-color: rgba(0,0,0,0);
	text-align:center;
	
	h1{

	}

	p{
	color:#444;
	font-size: 1.6em;

	}
	
}

/*GALERIA*/
#lightGallery{ 
	
	padding:40px;

	li {
	list-style-type:none;

	img {
	cursor: pointer;
	box-shadow: 0 0 0 2px #937F4A, inset 0 0 0 1px #937F4A;
	border:3px solid transparent;
	margin: 10px 0 10px 0;
	max-height:240px;
	transition: .5s;
		
		&:hover{
			box-shadow: 0 0 0 4px #937F4A, inset 0 0 0 1px #937F4A;
			border:3px solid transparent;
		}
	}
 }
}
/*PRELOADING*/
html.turbolinks-progress-bar::before {
  background-color: #937F4A !important;
  height: 5px !important;
}

/*FOOTER*/
footer{
  font-family: "OpenSans-CondBold";
/*  -moz-box-shadow:    -3px 0px 3px 3px #ccc;
  -webkit-box-shadow: -3px 0px 3px 3px #ccc;
  box-shadow:         -3px 0px 3px 3px #ccc;*/
  padding-top:10px;
  height:10%;
  font-size:1.2em;
  color:#444;
  background-color: rgba(0,0,0,0.8);
  border-top:3px solid #937F4A;

  .container-fluid{
  	
  }

  p{
  	color:#937F4A;
  }
}

/*teszt*/
.rotate {
    transform: rotate(-180deg);
    /*transform: rotate(180deg);*/
    transition: .5s;
}
.rotate2 {
    transform: rotate(0deg);
    transition: .5s;
}

/*modal-teszt*/
.modal {
  	text-align: center;
}

.modal-header{
	
}

.modal-content{
	box-shadow: 0 0 0 2px #937F4A, inset 0 0 0 1px #937F4A;
	border:3px solid transparent;
	border-radius: 0px;
	min-height:50vh;
	background-color: #DDD ;
}

.modal-body{
	background-position: center;
	background-size:cover;
	min-height:40vh;
	p{	

		text-align:center;
		font-size: 2em;
		font-weight: 2em;
		a{
			color:#444;
		}

	}
}

@media screen and (min-width: 768px) { 
  .modal:before {
    display: inline-block;
    vertical-align: middle;
    content: " ";
    height: 100%;
  }
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}