<footer class="container-fluid text-center">
    <div class="row">

		<div class="col-xs-12 col-sm-4 col-md-4">
			<p>BUGACKU|2015</p>
		</div>

		<div class="col-xs-12 col-sm-4 col-md-4">

		</div>

		<div class="col-xs-12 col-sm-4 col-md-4">

		</div>

    </div>

</footer>
